.springfield-grid {
    margin-top: 20px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat();
    gap: 45px;
    padding: 20px;
    background-color: #1769B6;
}
.springfield-grid div {
    background-color: #FFFFFF   ;
    color: #000000;
    padding: 45px;
    text-align: center;
    font-size: 24px;
    border-radius: 2px;
}


/* VÄRIT
#000000 - Black
#FFFFFF - White
#FCCB00 - Simpsons Yellow
#E44423 - Simpsons Orange
#5C9ED9 - Simpsons Blue
#1769B6 - Deep Blue
#CDDF8D - Light Green
*/
