.aloitus {
    display: flex;
    align-items: left;
    gap: 22px
    
}
.logo {
    display: flex;
    align-items: left;
    gap: 22px
}

.nav {
    display: flex;
    align-items: left;

}
.nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 15px;
}
.nav a:hover {
    background-color: #E44423;
    color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

/* VÄRIT
#000000
#FFFFFF
#FCCB00
#E44423
#5C9ED9
#1769B6
#CDDF8D 
*/